@import 'tailwindcss';

html {
  height: 100%;
}

body {
  height: inherit;
  font-size: 14px;
}

/* #region menu */

.menu {
  @apply bg-neutral-50;

  li {
    @apply py-2 px-4;

    &:not(.disabled):hover,
    &.active {
      @apply bg-neutral-700 text-neutral-50 transition-colors cursor-pointer;
    }

    &.disabled {
      @apply text-neutral-400 text-xs pointer-events-none;
      border-bottom: thin solid var(--color-neutral-200);
    }
  }
}

/* #endregion */

.input {
  @apply py-2 px-4 rounded-xs border-1 border-neutral-300 transition-colors;

  &:focus {
    @apply border-sky-700;
    outline: none;
  }
}

.btn {
  @apply py-2 px-4 rounded-xs border-1 text-neutral-600 transition-colors cursor-pointer;

  &:hover {
    @apply text-sky-700;
  }

  &:disabled,
  &.disabled {
    @apply text-neutral-300 pointer-events-none cursor-default;
  }
}

.btn-sm {
  @apply py-1 px-2 text-xs;
}

.radio {
  appearance: none;
  width: calc(var(--spacing) * 4);
  height: calc(var(--spacing) * 4);
  margin-top: calc(var(--spacing) / 2);
  border-radius: 50%;
  border: 2px solid var(--color-neutral-600);
  padding: var(--spacing);
  @apply transition-colors;

  &:checked {
    background-color: var(--color-sky-600);
  }
}
