@import 'tailwindcss';

@reference './assets/styles/utils';

:root {
  --ani-duration: 300ms;
}

html {
  height: 100%;
}

body {
  height: inherit;
  @apply font-light text-neutral-600;
}

@import './assets/styles/button';
@import './assets/styles/input';

@import './assets/styles/nav';
@import './assets/styles/dialog';
@import './assets/styles/view-transition';
@import './assets/styles/misc';

@apply progress-keyframes;
