.btn {
  @apply text-sm leading-none py-1.5 px-3 border-1 rounded-xs text-neutral-500 transition-colors cursor-pointer;

  &:hover {
    @apply text-sky-700;
  }

  &:disabled {
    @apply text-neutral-300 cursor-default;
  }
}

.btn-icon {
  @apply p-1.5 aspect-square;
  min-width: calc(var(--text-sm) + var(--spacing) * 3 + 2px); /* symbol-width + padding * 2 + border * 2 */
}

.btn-primary,
.btn-reject {
  box-shadow: 3px 0 0 var(--btn-accent) inset;

  &:disabled {
    --btn-accent: currentColor;
  }
}

.btn-primary {
  --btn-accent: var(--color-sky-600);
}

.btn-reject {
  --btn-accent: var(--color-red-400);
}
