.btn {
  @apply cursor-pointer rounded-xs border px-3 py-1.5 text-sm leading-none text-neutral-500 transition-colors;

  &:hover {
    @apply text-sky-700;
  }

  &:disabled {
    @apply cursor-default text-neutral-300;
  }
}

.btn-icon {
  @apply aspect-square p-1.5;
  min-width: calc(var(--text-sm) + var(--spacing) * 3 + 2px); /* symbol-width + padding * 2 + border * 2 */
}

.btn-primary,
.btn-reject {
  box-shadow: 3px 0 0 var(--btn-accent) inset;

  &:disabled {
    --btn-accent: currentColor;
  }
}

.btn-primary {
  --btn-accent: var(--color-sky-600);
}

.btn-reject {
  --btn-accent: var(--color-red-400);
}

.btn-focus {
  outline: 1px dashed var(--color-sky-100);
  outline-offset: -1px;
}
