/* #region progress utility */

@utility progress-bar {
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
    height: var(--progress-height, 2px);
    left: 0;
    pointer-events: none;
  }

  &:before {
    width: 100%;
    background-color: var(--progress-bg, var(--color-neutral-200));
  }

  &:after {
    background-color: var(--progress-color, var(--color-neutral-600));
    transition: width 500ms;
    will-change: width;
  }
}

@utility progress-unknown {
  &:after {
    animation: var(--progress-duration, 30s) cubic-bezier(0, 1, 0, 1) 200ms forwards progress-unknown;
  }
}

@utility progress-top {
  &:before,
  &:after {
    top: 0;
  }
}

@utility progress-bottom {
  &:before,
  &:after {
    bottom: 0;
  }
}

@utility progress-keyframes {
  @keyframes progress-unknown {
    from {
      width: var(--progress-from, 0);
    }

    to {
      width: var(--progress-to, 100%);
    }
  }
}

/* #endregion */

@utility fancy-border {
  @apply relative rounded-xs border-1;

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    pointer-events: none;
    border: 2px solid;
    border-color: inherit;
  }

  &:before {
    top: 0;
    left: 0;
    translate: -1.5px -1.5px;
    border-bottom: none;
    border-right: none;
    border-top-left-radius: 2px;
  }

  &:after {
    bottom: 0;
    right: 0;
    translate: 1.5px 1.5px;
    border-top: none;
    border-left: none;
    border-bottom-right-radius: 2px;
  }
}

@utility separator {
  & > * + *::before {
    content: '';
    display: block;
    border-top: dashed thin var(--color-neutral-200);
  }
}
